name: Deploy versioned docs

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo (full history)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install mkdocs-material mike
          pip install .

      - name: Deploy docs
        working-directory: docs/
        run: |
          git config user.name edogiuili
          git config user.email edoardogiuili@gmail.com
          mike deploy --push --update-aliases ${{ github.event.release.tag_name }} latest
          mike set-default --push latest
