name: Deploy versioned docs

on:
  release:
    types: [published]
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo (full history)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install mkdocs-material mike
          pip install .   # optional if docs import your package

      - name: Deploy docs
        working-directory: docs/
        run: |
          git config user.name edogiuili
          git config user.email edoardogiuili@gmail.com

          if [ "${{ github.event_name }}" = "release" ]; then
            VERSION="${{ github.event.release.tag_name }}"
            mike deploy "$VERSION" latest --push --update-aliases
          else
            VERSION="${{ steps.version.outputs.version }}"
            mike deploy "$VERSION" latest --push --update-aliases
          fi

          mike set-default --push latest
