name: Publish methsaturator to PyPI
on:
  release:
    types: [published]

jobs:
  build-n-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        name: Check out source-code repository

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel build
          pip install .

      - name: Build the distribution
        run: python setup.py sdist bdist_wheel

      - name: Publish methsaturator to PyPI
        if: github.repository == 'VIBTOBIlab/methurator'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
