name: "Unit tests"

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"
jobs:
  unit_tests_linux:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    env:
      # GitHub currently has 4 cores available for Linux runners
      # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
      worker_cores: 4

    steps:
      - uses: actions/checkout@v4

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          cache-env: true
          cache-downloads: true
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Run unit tests
        run: |
          eval "$(micromamba shell hook --shell=bash)"
          micromamba activate test-env
          pip install -e .[dev]
          pytest -vv -n ${{ env.worker_cores }}
