name: "Unit tests"

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"
jobs:
  unit_tests_linux:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.14"]

    env:
      # GitHub currently has 4 cores available for Linux runners
      # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
      worker_cores: 4

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Update and install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y samtools wget bzip2
          git clone https://github.com/dpryan79/MethylDackel.git
          cd MethylDackel
          make LIBBIGWIG="/some/path/to/libBigWig.a"
          make install prefix=/some/installation/path

      - name: "Install methsaturator"
        run: |
          pip install -e .[dev]

      - name: "Run unit tests"
        run: pytest -vv -n ${{ env.worker_cores }}
