name: "Unit tests"

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"
jobs:
  unit_tests_linux:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.14"]

    env:
      # GitHub currently has 4 cores available for Linux runners
      # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
      worker_cores: 4

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: "Install MethylDackel and SAMtools"
        run: |
          # Install Miniconda
          wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
          bash miniconda.sh -b -p $HOME/miniconda
          export PATH="$HOME/miniconda/bin:$PATH"
          conda update -y conda

          # Install mamba for faster installs
          conda install -y -c conda-forge mamba

          # Install MethylDackel and Samtools
          mamba install -y -c bioconda methyldackel samtools

      - name: "Verify installations"
        run: |
          methyldackel --version
          samtools --version

      - name: "Install methsaturator"
        run: |
          pip install -e .[dev]

      - name: "Run unit tests"
        run: pytest -vv -n ${{ env.worker_cores }}
