name: "Unit tests"

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"
jobs:
  unit_tests:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    env:
      worker_cores: 2
      MAMBA_NO_LOW_SPEED_LIMIT: 1

    steps:
      - uses: actions/checkout@v4

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          cache-downloads: true
          cache-environment: true
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Run unit tests
        run: |
          eval "$(micromamba shell hook --shell=bash)"
          micromamba activate test-env
          pip install -e .[dev]
          pytest -vv -n ${{ env.worker_cores }}
